body {
    background-color: #34d8eb;
}
#content {
    height: 100%;
    width: 2000px;
}
#weather {
 width: 500px;
 height: 500px;
 background-color: white;
 margin-top: 126px;
 border-radius: 0.3rem;
}