.welcome{
    padding: 65px;
    background-image: url("https://cdn.shopify.com/s/files/1/1321/0649/products/9780735348394_1024x1024.jpg?v=1545335034");
    color : rgb(247, 246, 240);
    margin: 30px 25px ;
    font-weight: 900;
    text-shadow: 2px 5px #070000;
}

.paragraph{
    max-width: 500px
}

.wrapper1 {
    margin-left:20px; 
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 1vw;
    grid-auto-rows: minmax(50px, auto);
}
.wrapper > div{
    background-color: antiquewhite;
}

.wrapper21 {
    display: grid;
    grid-gap: 1vw;
    grid-auto-rows: max-content
}

.wrapper2 {
    margin-left:25px; 
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1vw;
    grid-auto-rows: minmax(50px, auto);
}

.box21{
    margin-top: 25px
}



#title {
    text-align: center;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

#loggetOut{
    position: relative;
}
.loginForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}