.wrapper1 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 1vw;
    grid-auto-rows: minmax(50px, auto);
}
.wrapper > div{
    background-color: antiquewhite;
}

.wrapper21 {
    display: grid;
    grid-gap: 1vw;
    grid-auto-rows: max-content
}

.wrapper2 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1vw;
    grid-auto-rows: minmax(50px, auto);
}


#title {
    text-align: center;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

#loggetOut{
    position: relative;
}
.loginForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}